{
   "extends": "next/core-web-vitals",
   "rules": {
      //"@typescript-eslint/explicit-module-boundary-types": "off",
      //"@typescript-eslint/no-empty-function": "off",
      //"react-hooks/rules-of-hooks": "error",
      //"react-hooks/exhaustive-deps": "warn",
      "@next/next/no-document-import-in-page": "off",
      "react/display-name": "off"
   }
}
